body{
  background-color: #eee;
  font-size: 16px;
}
.card{
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px;
  box-shadow: 1px 1px 3px;
}
img{
  margin: 10px;
}
p{
  line-height: 25px;
}
#wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}